asgiref==3.12.1
brotli==1.2.0
cffi==2.1.0
click==8.4.2
colorama==0.4.6
crispy-bootstrap5==2026.3
cssbeautifier==2.0.3
cssselect2==0.9.0
Django==6.0.7
django-cleanup==9.0.0
django-crispy-forms==2.7
django-debug-toolbar==7.0.0
django-extensions==4.1
django-filter==26.1
django-htmx==1.28.0
django-humanize==0.1.2
django-widget-tweaks==1.5.1
djlint==1.43.1
EditorConfig==0.17.1
et_xmlfile==2.0.0
fonttools==4.63.0
gunicorn==26.0.0
humanize==4.16.0
jsbeautifier==2.0.3
json5==0.15.0
openpyxl==3.1.5
packaging==26.2
pathspec==1.1.1
pillow==12.3.0
psycopg2-binary==2.9.12
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-dateutil==2.9.0
python-decouple==3.8
python-dotenv==1.2.2
PyYAML==6.0.3
regex==2026.7.19
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
tqdm==4.70.0
weasyprint==69.0
webencodings==0.5.1
whitenoise==6.12.0
zopfli==0.4.3
