<select name="specialization_id"
        id="specializationSelect"
        class="form-select form-select-lg"
        hx-get="{% url 'graduates:graduate_list' %}"
        hx-target="#graduatesTableContainer"
        hx-swap="innerHTML"
        hx-indicator="#loadingIndicator"
        hx-include="[name='faculty_id'],[name='section_id'],[name='specialization_id']"
        {% if not specializations %}disabled{% endif %}>
    <option value="">اختر التخصص...</option>
    {% for sp in specializations %}
        <option value="{{ sp.specialization_id }}"
                {% if selected_specialization_id == sp.specialization_id|stringformat:"s" %}selected{% endif %}>
            {{ sp.specialization_ar_name }} - {{ sp.total_score }}
        </option>
    {% empty %}
        <option value="" disabled>لا توجد تخصصات</option>
    {% endfor %}
</select>
